<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Данные книги</title>
</head>

<header>
  <div id="menu">
    <button th:if="${admin}"><a th:href="@{/people}" style="text-decoration: none" th:if="${admin}">Все клиенты</a></button>
    <button><a th:href="@{/books}" style="text-decoration: none">Все книги</a></button>
    <button th:unless="${admin}"><a th:href="@{/people}" style="text-decoration: none" th:unless="${admin}">Мой профиль</a> </button>
  </div>
</header>
<br/>

<body>

<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublication()}">value</p>

<p th:text="${'Книга свободна.'}" th:unless="${reader}">
<form th:method="POST" th:action="@{/books/bookAbook/{bookId}(bookId=${book.getBookId()})}" th:object="${book}" th:unless="${reader}">
  <input type="submit" value="забронировать"/>
</form>
<form th:method="PATCH" th:action="@{/books/{bookId}/free(bookId=${book.getBookId()})}" th:object="${book}"
      th:if="${bookPersonId == whoLoggedIn.getPersonId()} and ${book.getActivity().toString().equals('забронирована')}">
  <p th:text="${'Вы забронировали данную книгу'}"/>
  <p th:text="${'Бронь до ' + bookingTime}"/>
  <input type="submit" value="отменить бронь"/>
</form>

<p th:text="${'Вы взяли данную книгу на руки ' + dateOfCapture + ' числа.'}"
   th:if="${bookPersonId == whoLoggedIn.getPersonId()} and ${book.getActivity().toString().equals('на_руках')}"/>

<form th:method="PATCH" th:action="@{/books/{bookId}/addperson(bookId=${book.getBookId()})}" th:if="!${reader} and ${admin}">
  <p th:text="${'Кому ее назначить?'}"></p>
  <label for="person">Выберите человека: </label>
  <select th:object="${person}" th:field="*{personId}" id="person">
    <option th:each="person : ${people}" th:value="${person.getPersonId()}"
            th:text="${person.getFio()}"></option>
  </select>
  <input type="submit" value="назначить"/>
</form>

<p th:text="${'Книга сейчас у: ' + reader.getFio()}" th:if="${admin} and ${book.getActivity().toString().equals('на_руках')}">value</p>
<p th:text="${'Книгу забронировал: ' + reader.getFio()}" th:if="${admin} and ${book.getActivity().toString().equals('забронирована')}"></p>
<p th:text="${'Бронь до ' + bookingTime}" th:if="${admin} and ${book.getActivity().toString().equals('забронирована')}"></p>
<p th:text="${'Книга сейчас на руках у читателя.'}" th:if="!${admin} and ${book.getActivity().toString().equals('на_руках')} and !${bookPersonId == whoLoggedIn.getPersonId()}">value</p>

<p th:text="${'Книгу забронировали. Бронь до ' + bookingTime}" th:if="${reader} and !${admin} and !${bookPersonId == whoLoggedIn.getPersonId()}
    and ${book.getActivity().toString().equals('забронирована')}"></p>

<form th:method="PATCH" th:action="@{/books/issue/{bookId}(bookId=${book.getBookId()})}" th:object="${book}" th:if="${book.getActivity().toString().equals('забронирована')} and ${admin}">
    <input type="submit" value="выдать на руки">
</form>

<form th:method="PATCH" th:action="@{/books/{bookId}/free(bookId=${book.getBookId()})}" th:object="${book}" th:if="${reader} and ${admin}">
  <input type="submit" value="освободить"/>
</form>
<hr/>

<form th:method="GET" th:action="@{/books/{bookId}/edit(bookId=${book.getBookId()})}" th:if="${admin}">
  <input type="submit" value="изменить данные книги"/>
</form>

<form name="delete" th:method="DELETE" th:action="@{/books/{bookId}(bookId=${book.getBookId()})}" th:if="${admin}">
  <input type="submit" value="удалить книгу"/>
</form>

<form th:method="POST" th:action="@{/logout}">
  <input type="submit" value="выход">
  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
</form>

</body>
</html>